<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'itemsData.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="{{ 'backBtn' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let i of items" [routerLink]="['./', i.id]">
            <ion-avatar slot="start" >
              <img [src]="i.imageUrl" alt="">
            </ion-avatar>
            <ion-label>
              {{ i.title | translate}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="openPopover()">{{ 'popover.btn' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>