<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p>Magni vitae nobis impedit, temporibus dignissimos nam et quibusdam minima blanditiis! Quam beatae recusandae eum deleniti. Est error expedita facere fugit id!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide>
            <ion-card>
              <div class="slider-card">
                <img src="../../../assets/img/slide/637728004.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  Леонид Афремов
                </ion-card-subtitle>
                <ion-card-title>
                 Прогулка под зонтом
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <div class="slider-card">
                <img src="../../../assets/img/slide/illidan-yarost-buri-gospod-zapredele-chernyj-xram-mir-warcraft-demon-dolina-prizrachnoj-luny-yarost-buri-illidan-vau-krylya-roga.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  World of Warcraft
                </ion-card-subtitle>
                <ion-card-title>
                 Illidan Stormrage
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <div class="slider-card">
                <img src="../../../assets/img/slide/salvador-dali-salvador-dali-2103.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  Сальвадор Дали
                </ion-card-subtitle>
                <ion-card-title>
                 Постоянство памяти
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <div class="slider-card"> 
                <img src="../../../assets/img/slide/The_bridge_vattenstämpel.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  Alexander Jansson
                </ion-card-subtitle>
                <ion-card-title>
                 The Bridge
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
