<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'about.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{ 'about.description.0.paragraph' | translate}}</p>
        <p>{{ 'about.description.0.paragraph2' | translate}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide>
            <ion-card>
              <div class="slider-card">
                <img src="../../../assets/img/slide/637728004.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  {{ 'about.pictures.0.painter' | translate}}
                </ion-card-subtitle>
                <ion-card-title>
                  {{ 'about.pictures.0.pictureName' | translate}}
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <div class="slider-card">
                <img src="../../../assets/img/slide/illidan-yarost-buri-gospod-zapredele-chernyj-xram-mir-warcraft-demon-dolina-prizrachnoj-luny-yarost-buri-illidan-vau-krylya-roga.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  {{ 'about.pictures.1.painter' | translate}}
                </ion-card-subtitle>
                <ion-card-title>
                  {{ 'about.pictures.1.pictureName' | translate}}
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <div class="slider-card">
                <img src="../../../assets/img/slide/salvador-dali-salvador-dali-2103.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  {{ 'about.pictures.2.painter' | translate}}
                </ion-card-subtitle>
                <ion-card-title>
                  {{ 'about.pictures.2.pictureName' | translate}}
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <div class="slider-card"> 
                <img src="../../../assets/img/slide/The_bridge_vattenstämpel.jpg" alt="">
              </div>
              <ion-card-header>
                <ion-card-subtitle>
                  {{ 'about.pictures.3.painter' | translate}}
                </ion-card-subtitle>
                <ion-card-title>
                  {{ 'about.pictures.3.pictureName' | translate}}
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
