<ion-header class="">
  <ion-toolbar>
    <ion-title class="h1">{{ 'toggles.title'  | translate}}</ion-title>
        <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-toggle [(ngModel)]="dangerToggle" name="dangerToggle" (ionChange)="onToggle($event)"></ion-toggle>
            <ion-label>{{ 'toggles.danger'  | translate}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle [(ngModel)]="limaToggle" name="limaToggle" (ionChange)="onToggle($event)"></ion-toggle>
            <ion-label>{{ 'toggles.lima'  | translate}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-toggle [(ngModel)]="blueToggle" name="blueToggle" (ionChange)="onToggle($event)"></ion-toggle>
            <ion-label>{{ 'toggles.blue'  | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
